#tp-cssmenu {

	margin: 0; /* all lists */

	padding: 0;

	float: left;

}

#tp-cssmenu ul {

	margin: 0; /* all lists */

	padding: 0;

}

#tp-cssmenu li {

	margin: 0; /* all list items */

	padding: 0 0 0 20px;

	float: left;

	display: block;

	background: none;

	cursor: pointer;

	position: relative;

	z-index:100;





}

#tp-cssmenu li ul {

	width: 14em;

	position: absolute; /* second-level lists */

	z-index: 200;

	height: auto;

	/* width: 15.9em; */

	margin-top:-10px;

	margin-left:-20px;

	padding:10px 0 0 0;



}

#tp-cssmenu ul ul {

	margin: -2.6em 0 0 14em; /* third-and-above-level lists */

	padding-bottom:0;

	background-image:none;

	padding:10px 0 0 0;

}



#tp-cssmenu li li {

	padding: 0 0 0 0;

	margin: 0;

	width: 14em;



}

#tp-cssmenu ul a {

}

#tp-cssmenu li ul {

	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */

}

#tp-cssmenu li:hover ul ul, #tp-cssmenu li:hover ul ul ul,

#tp-cssmenu li.sfhover ul ul, #tp-cssmenu li.havechildsfhover ul ul, #tp-cssmenu li.havechild-activesfhover ul ul, #tp-cssmenu li.activesfhover ul ul,

#tp-cssmenu li.sfhover ul ul ul, #tp-cssmenu li.havechildsfhover ul ul ul, #tp-cssmenu li.havechild-activesfhover ul ul ul, #tp-cssmenu li.activesfhover ul ul ul {

	left: -999em;

}

/* This "unhides" the sub-menus (left: -999em is what hides them) */

#tp-cssmenu li:hover ul, #tp-cssmenu li li:hover ul, #tp-cssmenu li li li:hover ul,

#tp-cssmenu li.sfhover ul, #tp-cssmenu li.havechildsfhover ul, #tp-cssmenu li.havechild-activesfhover ul, #tp-cssmenu li.activesfhover ul,

#tp-cssmenu li li.sfhover ul, #tp-cssmenu li li.havesubchildsfhover ul, #tp-cssmenu li li.havesubchild-activesfhover ul, #tp-cssmenu li li.activesfhover ul,

#tp-cssmenu li li li.sfhover ul, #tp-cssmenu li li li.havesubchildsfhover ul, #tp-cssmenu li li li.havesubchild-activesfhover ul, #tp-cssmenu li li li.activesfhover ul {

	left: auto;

}

/* STYLING THE MENU

-----------------------------------*/

/* 1st level */

#tp-cssmenu li a {

	margin: 0;

	padding: 0 20px 0 0;

	display: block;

	color:#FFFFFF; 

	font-weight:bold;

	text-decoration: none;

	text-align:left;

	font-family:arial,verdana,tahoma;

	font-size:14px;

    text-transform: uppercase;

	height:28px;

	line-height:28px;

	background: url(../images/topmenu-border.gif) repeat-y right;





}

#tp-cssmenu li ul li a {

	height:20px;

	line-height:20px;

	padding-left:15px;

	font-size:11px;

	font-weight:400;

	

	

	

	} 

#tp-cssmenu li ul li li a {

	height:20px;

	line-height:20px;

	padding-left:15px;

	font-size:11px;

	font-weight:400;

	}

#tp-cssmenu li li a {

	border-right:none;

	color:#ffffff;

	font-weight:700;

	

	

}

#tp-cssmenu li li a:hover{

	color:#CC99CC;}

#tp-cssmenu li.fulltpmenuimages img,

#tp-cssmenu li.fulltpmenuimagessfhover img,

#tp-cssmenu li a.fulltpmenuimages, 

#tp-cssmenu li.fulltpmenuimages a,

#tp-cssmenu li.fulltpmenuimagessfhover a,

#tp-cssmenu li.tpmenutextandimage  a,

#tp-cssmenu li.tpmenutextandimagesfhover  a

{

	padding:0 0 0 0;

	margin:0;

	line-height:12px;

	border-right:none;

	}

#tp-cssmenu li.tpmenutextandimage li  a,

#tp-cssmenu li.tpmenutextandimagesfhover  li a {

	padding-left:10px;

	padding-right:0;

	color:#3399FF;

	}

#tp-cssmenu li.tpmenutextandimage li,

#tp-cssmenu li.tpmenutextandimagesfhover li {

padding:0;

	}

#tp-cssmenu li.tpmenutextandimage img,

#tp-cssmenu li.tpmenutextandimagesfhover img {

	vertical-align:middle;

}



#tp-cssmenu li.fulltpmenuimages ul li a,

#tp-cssmenu li.fulltpmenuimagessfhover ul li a {

	padding-left:10px;}

#tp-cssmenu li.fulltpmenuimages a {

	padding:0;

	margin:0;}

.tpmenutextandimage {}

.fulltpmenuimageschild {}

.tpmenutextandimagechild {}

#tp-cssmenu li a.fulltpmenuimages {

	padding:0;

	margin:0;}

#tp-cssmenu li ul li.active {}

#tp-cssmenu li.parent a{}

#tp-cssmenu li.parent a:active {

	color:#0099ff;}

#tp-cssmenu li ul li.parent a ,

#tp-cssmenu li ul li.parentsfhover,

#tp-cssmenu li ul li.parent li.parent a ,

#tp-cssmenu li ul li.parentsfhover li.parentsfhover li{

	background: url(../images/tpmenuright.gif) right top no-repeat;

	}

#tp-cssmenu li ul li.parent li.parent li a ,

#tp-cssmenu li ul li.parentsfhover li.parentsfhover li.parentsfhover li,

#tp-cssmenu li ul li.parent li a {



	}



#tp-cssmenu li.parentsfhover li,

#tp-cssmenu li.active  li.parentsfhover,

#tp-cssmenu li.parent li ,

#tp-cssmenu li.active li ,

#tp-cssmenu li.active li li {

	background:  #121212;}

#tp-cssmenu li a:hover,

#tp-cssmenu li a:active,

#tp-cssmenu li a:focus {

	color: #0099ff ;

	

}

#tp-cssmenu li li.activesfhover a {

	background-image:none;} 

#tp-cssmenu li.active li a {

	background-image:none;}

#tp-cssmenu li:hover,

#tp-cssmenu li.sfhover,

#tp-cssmenu li.havechildsfhover,

#tp-cssmenu li.havechild-activesfhover {

	color: #877D7D;

}

#tp-cssmenu li:hover a {

}

#tp-cssmenu li a.active,

#tp-cssmenu li a.active:hover,

#tp-cssmenu li a.active:active,

#tp-cssmenu li a.active:focus {

	color: #0099ff;

}

/* 2nd level and above */

#tp-cssmenu li ul a {

	margin: 0;

	padding: 5px 5px;

	background:  #CC99CC;



	text-transform: none;

}

#tp-cssmenu li.havesubchild,

#tp-cssmenu li.havesubchild-active {

}

#tp-cssmenu li ul a:hover,

#tp-cssmenu li ul a:active,

#tp-cssmenu li ul a:focus,

#tp-cssmenu li.parent li ul a:hover,

#tp-cssmenu li.parent li ul a:active,

#tp-cssmenu li.parent li ul a:focus {

	color: #3399FF;

	text-decoration:underline;

	background:#FFFFFF;

}

#tp-cssmenu ul li.active a {

	color: #3399FF;



}



#tp-cssmenu li.active ul li a:hover

{	color:#0099ff;

}

#tp-cssmenu li.active ul li a {

	color:#ffffff;

	border:none;}